# Composer - Transparence and transition
picom &  
# Set Wallpaper
~/.fehbg & 
# Network managing
nm-applet & 
# Automount devices
udiskie -t & 
# Screenshoot tool
flameshot & 
# Volume control
volumeicon & 
# A lightweight overlay for bar
xob & # -> Pending investigation
